# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Linux 
.nfs*
.nfs.*

# Apple
.DS*
._.DS*
._*
._*.*

# Eclipse
.tracecompass
*/.tracecompass

# Build
*/build_gd32/*
*/lib_gd32/*
*.su
*.list

*.bin
udp_send

sofware_version_id.h

gd32f20x*.*
lib-gd32/gd32f20x/*
gd32f30x*.*
lib-gd32/gd32f30x/*
gd32f4xx*.*
lib-gd32/gd32f4xx/*

lib-*/src/esp8266/*
lib-*/include/esp8266/*

lib-*/src/h3/*
lib-*/include/h3/*

lib-*/src/linux/*
lib-*/include/linux/*

lib-network/src/noemac/*

# RDMNet LLRP Only
generate_sofware_version_id.sh
factorydefaults.h
rdmsoftwareversion.cpp
